<form action="/skills/<%= @skill.id %>" method="post">
  <p>Edit</p>
  <input type="hidden" name="_method" value="PUT" />
  <input id="title" type='text' name='skill[title]' value="<%= @skill.title %>"/><br/>
  <textarea name='skill[description]'><%= @skill.description %></textarea><br/>
  <button class="btn btn-primary" type='submit'>Edit Skill</button>
</form>
